[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cccrm"]
	path = cccrm
	url = https://github.com/cran/cccrm
[submodule "iccCompare"]
	path = iccCompare
	url = https://github.com/cran/iccCompare
[submodule "iccCounts"]
	path = iccCounts
	url = https://github.com/cran/iccCounts
[submodule "iccTraj"]
	path = iccTraj
	url = https://github.com/cran/iccTraj
