[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cccrm"]
	path = cccrm
	url = https://github.com/cran/cccrm
	shallow = true
	registered = true
[submodule "iccCounts"]
	path = iccCounts
	url = https://github.com/cran/iccCounts
	shallow = true
	registered = true
[submodule "iccTraj"]
	path = iccTraj
	url = https://github.com/cran/iccTraj
	shallow = true
	registered = true
